@mixin breakpoint($point) {
    @if $point == lg {
        @media (max-width: 992px){@content;}  
    }
    @else if $point == md {
        @media (max-width: 768px){@content;}  
    }
    @else if $point == sm {
        @media (max-width: 576px){@content;}  
    }
    @else if $point == xs {
        @media (max-width: 370px){@content;}  
    }
    @else if $point == xl {
        @media (max-width: 1200px){@content;}  
    }
    @else if $point == xxl {
        @media (max-width: 1400px){@content;}  
    }
  }


.body {
    font-family: 'Poppins', sans-serif;
}
.cont {
        background: #0D0D2B;
        width: 100%;
        max-width: 1620px;
        height: 100px;
        margin-bottom: 8%;
        @include breakpoint (lg) {
            margin-top: -3%;
            height: 150px;
        }
        @include breakpoint (sm) {
            height: 120px;
        }
    }
.navbar {
    background-color: #0D0D2B;
    border-radius: 0%;

}

.info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.count-page {
    margin-top: -10%;
    width: 100%;
    height: 1450px;
    background-color: #0D0D2B;
    @include breakpoint (xxl) {
        height: 1425px;
    }
    @include breakpoint (xl) {
        height: 1375px;
    }
    @include breakpoint (lg) {
        margin-top: -20%;
        height: 1325px;
    }
    @include breakpoint (md) {
        margin-top: -15%;
        height: 1225px;
    }
    @include breakpoint (sm) {
        margin-top: -28%;
    }
    @include breakpoint (xs) {
        margin-top: -40%;
    }
 
}
.navbar-toggler {
    color: #0D0D2B;
    border: none;
    padding: 0;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
    opacity: 0.7;
}

.navbar-collapse {
    @include breakpoint (md) {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, #0D0D2B 100%);
        opacity: 0.95;
        border-radius: 16px;
    }
}

.navbar-nav {
    @include breakpoint (md) {
        text-align: center;
        margin-bottom: 5%;
    }
}

.block {
    @include breakpoint (lg) {
        margin-top: 10%;
    }
    @include breakpoint (md) {
        margin-top: 5%;
    }
    @include breakpoint (sm) {
        margin-top: 20%;
    }
    @include breakpoint (xs) {
        margin-top: 40%;
    }
}

.btn-info {
    background-color: #3671E9;
    padding: 14px 32px;
    border-radius: 32px;
    border: none;
    z-index: 1;
    position: relative;
    @include breakpoint (lg) {
        padding: 10px 15px;
     }
    @include breakpoint (sm) {
        padding: 4px 8px;
        font-size: 16px;
    }
}
.sale {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 35px;
    width: 350px;
    text-align: right;
    padding-right: 3%;
    padding: 10px 15px;
    @include breakpoint (md) {
        font-size: 14px;
        width: 300px;
        padding: 6px 10px;
        width: 295px;
    }
    @include breakpoint (sm) {
        margin-left: -3%;
    }
    
}
.sale-percent {
    background: #FFFFFF;
    border-radius: 32px;
    text-transform: uppercase;
    color: #0D0D2B;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin-right: 5%;
    padding: 5px 10px;
    @include breakpoint (md) {
        font-size: 14px;
        margin-right: 1%;
    }
}
.lg-title {
    text-transform: uppercase;
    font-size: 64px;
    line-height: 75px;
    font-weight: 800 ; 
    @include breakpoint (lg) {
        font-size: 54px;
    line-height: 55px;
    }
    @include breakpoint (sm) {
        font-size: 44px;
        line-height: 45px;
    }
}

.offer {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}


.banner-img {
    margin-bottom: 5%;
    @include breakpoint (md) {
        max-width: 576px;
        margin-top: -60%;
        z-index: -1;
        opacity: 0.5;
        width: 100%;
    } 
}

.dignity {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    margin-bottom: 40%;
    justify-content: center;
    align-items: center;
  }

.bloc {
    @include breakpoint (lg) {
        text-align: center;
     }
}
.figure {
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
    @include breakpoint (md) {
        font-size: 30px;
    }
    @include breakpoint (sm) {
        font-size: 20px;
    }
}

.icon {
    @include breakpoint (md) {
        width: 60px;
        margin-bottom: 10%;
    }
    @include breakpoint (xs) {
        width: 50px;
    }
}

.signature {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    @include breakpoint (md) {
        font-size: 14px;
        padding-right: 10%;
        padding-left: 10%;
        line-height: 20px;
    }
}


.text {
    text-align: center;
}
.head {
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
    margin-bottom: 3%;
    @include breakpoint (md) {
        font-size: 30px;
    }
    @include breakpoint (sm) {
        font-size: 25px;
        padding-left: 15%;
        padding-right: 15%;
    }
    @include breakpoint (xs) {
        font-size: 20px;
    }
}

.footnote {
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    padding-right: 33%;
    padding-left: 33%;
    margin-bottom: 5%;
    @include breakpoint (xxl) {
        padding-right: 30%;
        padding-left: 30%;
    }
    @include breakpoint (xl) {
        padding-right: 23%;
        padding-left: 23%;
    }
    @include breakpoint (lg) {
        padding-right: 20%;
        padding-left: 20%;
    }
    @include breakpoint (md) {
        font-size: 16px;
        padding-right: 17%;
        padding-left: 17%;
    }
    @include breakpoint (sm) {
        font-size: 14px;
        padding-right: 5%;
        padding-left: 5%;
    }
}
.calculate {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    max-width: 1000px;
    @include breakpoint (md) {
        font-size: 18px;
    }
    @include breakpoint (sm) {
        font-size: 16px;
        padding-left: 5%;
        padding-right: 5%;
    }
}
.enter {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input, .input-unit, .result-unit {
    border: none;
}

.convert_block_item {
    background: white;
    width: 100%;
    padding: 5% 15% 5% 15%;
    border-radius: 10px 10px 0px 0px;
    @include breakpoint (sm) {
        padding: 5%;
    }
}
.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 15% 5% 15%;
    width: 100%;
    background: white;
    @include breakpoint (sm) {
        padding: 5%;
    }

.convert_result {
    @include breakpoint (sm) {
        width: 150px;
    }
} 
}
.unit {
    margin-left: 10%;
}

.income {
    margin-bottom: 15%;
    border-radius: 0px 0px 10px 10px;
    letter-spacing: 0.04em;
    text-align: start;
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    width: 100%;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    @include breakpoint (sm) {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #3671E9;
    margin-bottom: 10%;
    margin-top: 5%;
    @include breakpoint (sm) {
        font-size: 14px;
    }
}

.income-price {
    color: #0D0D2B;
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 0%;
    @include breakpoint (xl) {
        font-size: 30px;
    }
    @include breakpoint (lg) {
        font-size: 28px;
    }
    @include breakpoint (md) {
        line-height: 100%;
        margin-bottom: 3%;
        font-size: 26px;
    }
    @include breakpoint (sm) {
        font-size: 20px;
    }
    @include breakpoint (xs) {
        font-size: 16px;
    }
}

.dollar {
      color: #3671E9;;
}
.waranty {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #828282;
    @include breakpoint (lg) {
        font-size: 14px;
        line-height: 16px;
    }
    @include breakpoint (sm) {
        font-size: 12px;
    }
}

.trade-info {
    color: #0D0D2B;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 150%; 
    margin-bottom: 5%;
    @include breakpoint (lg) {
        font-size: 34px;
    }
    @include breakpoint (md) {
        font-size: 28px;
        margin-top: 0%;
    }
    @include breakpoint (sm) {
        font-size: 24px;
        padding-right: 8%;
         padding-left: 8%;
    }
    @include breakpoint (xs) {
        font-size: 18px;
        margin-top: 5%;
    }
}

.crypto {
    border-radius: 16px;
    @include breakpoint (lg) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5%;
    }
    @include breakpoint (sm) {
        margin-bottom: 10%;
    }
}

.iconcrypto{
    padding: 10% 5% 5% 5%;
    @include breakpoint (sm) {
        width: 100px;
    }
}

.bloccrypto {
    @include breakpoint (lg) {
        text-align: start;
        width: 55%;
    }
    @include breakpoint (sm) {
        width: 50%;
    }
}

.name {
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    @include breakpoint (md) {
        font-size: 28px;
    }
    @include breakpoint (xs) {
        font-size: 20px;
    }
}

.information {
    font-size: 16px;
    line-height: 28px;
    padding: 1% 5% 5% 5%;
    @include breakpoint (lg) {
    line-height: 22px;
    }
    @include breakpoint (sm) {
    width: 250px;
    }
    @include breakpoint (xs) {
        width: 190px;
        font-size: 14px;
    }
    &-grey {
        color: #828282;
        @include breakpoint (lg) {
            line-height: 22px;
        }
        @include breakpoint (sm) {
            width: 220px;
        }
            @include breakpoint (xs) {
                width: 190px;
                font-size: 14px;
             }
    }
}


.little {
font-weight: 500;
font-size: 18px;
line-height: 150%;
text-align: center;
opacity: 0.7;
color: #FFFFFF;
@include breakpoint (md) {
    font-size: 14px;
}
  &-grey {
    color: #BDBDBD;
    font-weight: 500;
     font-size: 18px;
     line-height: 150%;
     text-align: center;
     opacity: 0.7;
    @include breakpoint (md) {
    font-size: 14px;
      }
     @include breakpoint (xs) {
    font-size: 10px; 
    }
   }
}

.right {
    margin-top: 10%;
    border: none;
    &-img {
        @include breakpoint (lg) {
            width: 40px;
        }
        &-btn {
            @include breakpoint (sm) {
                width: 30px;
                margin-top: -3%;
            }
        }
    }
}

.footer {
    background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);

}

.footer-block {
    padding: 8% 8% 0 8%;
    margin-top: 5%;
}

.footer-block-border {
    background: #3671E9;
    padding: 4%;
    border-radius: 16px;
    box-sizing: border-box;
    ::before, ::after {
        box-sizing: inherit;
    }
}

.item {
    font-weight: bold;
font-size: 32px;
line-height: 150%;
}

.item-info {
    font-size: 16px;
    line-height: 28px;
    max-width: 348px;
}

.form-control {
    width: 250px;
    height: 25px;
    @include breakpoint (sm) {
        margin-right: 5%;
        margin-bottom: 5%;
    }
}
.btn-info-footer {
    height: 45px;
    background-color: white;
     border-radius: 32px;
     border: none;
}

.footer-svg {
    height: 25px;
}

.footer-info {
    font-size: 16px;
line-height: 28px;
color: white;
@include breakpoint (lg) {
    font-size: 12px;
}
@include breakpoint (md) {
    padding-top: 5%;
}
}

.box {
padding: 0px 10px;
}

.footer-bottom {
    bottom: 0;
    margin-top: 10%;
}
